
<app-sidebar>
</app-sidebar>

<div class="entities-container">
  <app-toggle
    [label]="'Categorias' | customTitle: categories"
  >
    <app-list-categories
      [categories]="categories"
      (selectedCategory)="selectedCategory = $event">
    </app-list-categories>
    <app-edit-category
      *ngIf="selectedCategory"
      [category]="selectedCategory"
      (saveRequested)="saveCategory($event)"
    >
    </app-edit-category>
  </app-toggle>
  <app-toggle
    [label]="'Filmes' | customTitle: movies"
  >
    <app-list-movies
      [movies]="movies"
      (selectedMovie)="selectedMovie = $event">
    </app-list-movies>
    <app-edit-movie
      *ngIf="selectedMovie"
      [movie]="selectedMovie"
      [categories]="categories"
      (saveRequested)="saveMovie($event)"
    >
    </app-edit-movie>
  </app-toggle>
  <app-toggle
    [label]="'Usuários' | customTitle: users"
  >
    <app-list-users
      [users]="users"
      (selectedUser)="selectedUser = $event">
    </app-list-users>
    <app-edit-user
      *ngIf="selectedUser"
      [user]="selectedUser"
      (saveRequested)="saveUser($event)"
    >
    </app-edit-user>
  </app-toggle>

  <div>
    {{ currentDate | date: 'dd/MM/yyyy hh:mm' }}
  </div>
</div>

