<form
  *ngIf="formGroup"
  [formGroup]="formGroup"
  (submit)="save()"
  class="custom-form"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1
          [routerLink]="['../']"
          class="custom-title"
          style="cursor: pointer"
        >{{ title }}

        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let field of fields">
        <mat-form-field
          *ngIf="field.type === 'text'"
          [appearance]="'outline'"
        >
          <mat-label>
            {{ field.label}}
          </mat-label>
          <input
            matInput
            type="text"
            [formControlName]="field.property"
          >
        </mat-form-field>
        <mat-form-field
          *ngIf="field.type === 'select'"
          appearance="outline"
        >
          <mat-label>{{ field.label }}</mat-label>
          <mat-select
            *ngIf="field.type === 'select'"
            [formControlName]="field.property" [compareWith]="compareFunction.bind(this, field)">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span *ngIf="field.type !== 'list' && isError(field.property, 'required')" class="input-error-msg">
          Campo obrigatório
        </span>
        <ng-container
          *ngIf="field.type === 'list'">
          <mat-chip-grid>
            <mat-chip-row *ngFor="let entity of innerModel[field.property]; let i = index">
              {{ entity }}
              <button matChipRemove (click)="deleteEntity(field, i)">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
        <mat-form-field appearance="outline">
          <mat-label>{{ field.label }}</mat-label>
              <mat-select [formControlName]="field.property + '_list'">
                <mat-option *ngFor="let entity of field.options" [value]="entity.value">
                  {{ entity.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        <button
          mat-icon-button
          type="button"
          [disabled]="formGroup.controls[field.property + '_list'].invalid"
          (click)="addEntity(field)"
          style="text-align: center"
        >
          <mat-icon>add</mat-icon>
        </button>
        </ng-container>
      </ng-container>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid"
      >
        <span *ngIf="model.id">Salvar</span>
        <span *ngIf="!model.id">Criar</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
