:host {
  display: block;
  text-align: center;
  background-color: lightgray;
  padding: 0.5em;
}

.user-img {
  height: 100px;
  background-color: azure;
  padding: 1em;
  border-radius: 100px;
  margin-bottom: 1em;
}
