* {
  margin: 0;
}

html, body {
  height: 100%;
}

@import "assets/styles/custom-table";
@import "assets/styles/custom-form";

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
