.custom-form {
  input, select {
    display: block;
    width: 100%;
  }
  button {
    display: block;
    margin-top: 1em;
  }
  .input-error {
    border-color: red;
  }
  .input-error-msg {
    font-size: 0.8em;
    color: red;
  }
  .crud-roles {
    margin-top: 1em;
    span {
      display: inline-block;
      margin: 0.1em;
      padding: 0.5em;
      background-color: lightgray;
      border-radius: 10px;
      button {
        margin-top: 0;
        cursor: pointer;
      }
    }
  }

  mat-form-field {
    width: 100%;
  }

}
