<table class="custom-table">
  <thead>
    <tr>
      <td>#</td>
      <td>Nome</td>
      <td>Ações</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories; let i = index">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
        <button (click)="selectedCategory.emit(category)">Editar</button>
        <button (click)="deleteCategory(i)">Excluir</button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<button class="create-entity" (click)="createCategory()">Criar categoria</button>
